.completed{
    background-color: #f3faf3;
}
.icon{
    cursor: pointer;
    color: #32CD32
}
.icon:hover{
    background-color: rgba(33, 138, 162, 0.1);
    transition: 0.5s;
}
.opacityIcon{
    opacity: 0.1;
    cursor: pointer;
}
.opacityIcon:hover{
    background-color: rgba(33, 138, 162, 1);
    transition: 0.5s;
}

.font-medium{
    font-size: 14px;
}

.archive{
    float: right;
}
.right{
    float:right;
}
.agendaSpace{
    margin-bottom: 1em;
    width: 100%;
}
